*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cardContainer{ 
    width: 300px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    margin: 20px;
    position: relative;
}

.cardArticle{
    width: 100%;
    height: 200px;
}

.cardImages{
    width: 100%;
    height: 200px;
    background: #000;
    border-radius: 8px;
}

.cardTitle{
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}

.cardDecripcion{
    font-size: 16px;
    margin: 10px;
}

.cardPrecio{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.cardButton{
    width: 100%;
    height: 50px;
    background-color: #18529D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.cardButton:hover{
    background-color: #2562b2;
}

.containter{
    width: 100%;
    height: 100px;
    background-color: #18529D;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: white;
}

.containerCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.mainContainer{
    position: relative;
}

.modal{
    position: absolute;
    top: 100px;
    right: 0px;

    border-radius: 8px;
    width: 500px;
    height: 700px;
    background-color: #f2f2f2;
}

.modalButton{
    width: 100%;
    height: 50px;
    background-color: #18529D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 0;

}

.closeModal{
    position: relative;
}

.btnClose{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.scrollModal{
    width: 100%;
    height: 300px;
    color: black;

}

.cardModalItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}

.containerScroll{
    margin-top: 50px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-folio{
    width: 250px;
    height: 50px;
    background-color: #18529D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.section-folio{
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}